@import "normalize.css";

@font-face {
  font-family: "Exo2.0";
  src: url("./assets/Exo2.0-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Trebuchet";
  src: url("./assets/trebuchetms.ttf") format("TrueType");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-image: url("./assets/bg.png");
  font-family: "Exo2.0";
}
#root,
.app {
  width: 100vw;
  height: 100vh;
}
